extends ./../_layouts/default.jade
block meta
    title CSS Components <%= siteTitle %>

block sidebar
    include ./../_includes/core/table-of-content.jade

block content
    section#topnav
    section#navgroup
    section#buttongroup
    section#panel
    section#dialog
    section#card
    section#alert
