extends ./../layouts/_default.jade
block meta
    title CSS Components | #{title}

block sidebar
    include partials/_table-of-content.jade

block content
    section#topnav
    section#navgroup
    section#buttongroup
    section#panel
    section#dialog
    section#card
    section#alert
