.row: .grid-lg__12-of-12
    header.head-link.h4 Blockquote

    .qn-example
        .qn-preview(data-example='blockquote')
            .eg-title Example
            include ./../../example/blockquote.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/blockquote.html')
