.row: .grid-lg__12-of-12
    header.head-link.h4 Container

    p: strong Full Width (width: 100%)
    p If you want to full on the window, use this class name  
        code [class="container-fl"]
        |  for full width inner html.
    .qn-code
        pre.line-numbers: code.language-html
            = '<div class="container-fl">'
            = '\n     ...'
            = '\n </div>'

.row: .grid-lg--6
    p: strong Container (max-width: 1440px)
    p If you want to default container, use this class name  
        kbd [class="container"]
        |  in your html page.
    .qn-code
        pre.line-numbers: code.language-html
            = '<div class="container">'
            = '\n     ...'
            = '\n </div>'
