.row: .grid-lg__12-of-12
    header.head-link.h4 Grid System

    .qn-example
        .qn-preview(data-example='grid')
            .eg-title Example
            include ./../../example/grid-system.jade

        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/grid-system.html')

.row: .grid-lg--6
    header.head-link.h4 Grid Shift / Offset
    .qn-example
        .qn-preview(data-example='grid')
            .eg-title Example
            include ./../../example/grid-system-shift.jade

        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/grid-system-shift.html')
