.row: .grid-lg__12-of-12
    header.head-link.h4 Table

    .qn-example
        .qn-preview(data-example='table')
            .eg-title Example
            p.h6 Table Default
            include ./../../example/table-default.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/table-default.html')

    .qn-example
        .qn-preview(data-example='table')
            .eg-title Example
            p.h6 Table Strip
            include ./../../example/table-striped.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/table-striped.html')

    .qn-example
        .qn-preview(data-example='table')
            .eg-title Example
            p.h6 Table Hover
            include ./../../example/table-hovered.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/table-hovered.html')


    .qn-example
        .qn-preview(data-example='table')
            .eg-title Example
            p.h6 Table Border
            include ./../../example/table-bordered.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/table-bordered.html')


    .qn-example
        .qn-preview(data-example='table')
            .eg-title Example
            p.h6 Table Context
            include ./../../example/table-context.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/table-context-markup.html')

