.row: .grid-lg__12-of-12
    header.head-link.h4 Typography

    .qn-example
        .qn-preview(data-example='typo')
            .eg-title Example
            include ./../../example/typography.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/typography.html')

