// ---
// Color Palette
// ---
$brand:     #f44336 !default;

$black:     #212121 !default;
$grey:      #727272 !default;
$lightgrey: #b6b6b6 !default;
$accent:    #c52929 !default;

$blue:      #1e90ff !default;
$lightblue: #00bcd4 !default;
$yellow:    #fde560 !default;
$red:       #e41f1e !default;
$green:     #72e469 !default;
$orange:    #fda51f !default;

$wood-c:    #948f88 !default;


// ---
// Branding Color [map]
// ---
$brand-color: (
    'default' : $grey,
    'dark'    : $black,
    'primary' : $blue,
    'info'    : $lightblue,
    'success' : $green,
    'warning' : $orange,
    'danger'  : $red
);


// ---
// @media device width
// ---
$base-min-width:      480px;
$base-max-width:      1440px;
$base-media-feature:  min-width;


// ---
// @gridNamespace
// ---
$grid-namespace:  'grid';
$grid-columns:    12   !default;
$gutter:          16px !default;


// ---
// CSS Units
// ---
$em-base-unit:  16 !default;    // -> 16px (1em = 16px)
$rem-base-unit: $em-base-unit;  // -> 16px (1rem = 16px)


// ---
// Font Stack
// ---
$georgia:       'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$helvetica:     'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$lucida-grande: 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif;
$monospace:     'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;
$verdana:       'Verdana', 'Geneva', sans-serif;
$opensans:      'Open Sans', 'Arial Narrow', 'Verdana', sans-serif;


// ---
// @plugins | @fontAwesome
// ---
$font-awesome: false !default;
