// ---
// utilities
// ---

.hide   { display: none; }
.strong { font-weight: bolder; }

// ---
// float element
// ---
.ftr { float: right; }
.ftl { float: left; }


// ---
// text directions
// ---
.ltr    { text-align: right; }
.rtl    { text-align: left; }
.center { text-align: center; }


// ---
// Positioning
// ---
.fixed    { position: fixed; }
.absolute { position: absolute; }
.rel      { position: relative; }
.static   { position: static; }

.top    { top: 0; }
.right  { right: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }
