// ---
// @mixin | container
// ---

@mixin -container($max-width: $base-max-width) {
    display: block;
    margin: 0 auto;

    @if $max-width == 100% {
        width: 100%;
    } @else {
        width: 100%;
        max-width: $max-width;
    }
}
