.main-framework: ul.list-vertical
    li: a(href!="<%= baseUrl %>/getting-started/#overview") Overview
    li: a(href!="<%= baseUrl %>/getting-started/#download") Download
    li: a(href!="<%= baseUrl %>/getting-started/#sass") SASS
    li: a(href!="<%= baseUrl %>/getting-started/#github") Github
    li: a(href!="<%= baseUrl %>/getting-started/#license") License
    li: a(href!="<%= baseUrl %>/getting-started/#faq") F.A.Q
