// ----
// Grid Preview | Inject
// ----
div[data-example='grid'] {
    .row {
        background-color: #f5f2f0;

        [class*=#{$grid-namespace}] {
            background-color: #03a9f4;
            outline: 1px solid #333;
            display: block;
            height: 30px;
            line-height: 30px;
        }
    }
}

// ----
// Table | Inject
// ----
div[data-example='table'] {
    background-color: #fff !important;

    table {
        margin-bottom: em(20);
    }
}

// ----
// Table | Inject
// ----
div[data-example='form'] {
    background-color: #fff !important;
}
