extends ./../layouts/_default.jade
block meta
    title Getting Started | #{title}

block sidebar
    include partials/_sidebar-list-of-content.jade

block content
    section#overview
        include partials/_overview.jade

    section#download
        include partials/_download.jade

    section#sass
        include partials/_sass.jade

    section#github
        include partials/_github.jade

    section#license
        include partials/_license.jade

    section#faq
        include partials/_faq.jade
