//- Button Style
.row
    .grid-lg__4-of-12.grid: table.table-border
        thead
            tr
                th Button Square
                th Class
        tbody
            tr
                td: button.btn.btn--md.btn-square default
                td: code.language-css .btn-square
            tr
                td: button.btn.btn--md.btn-square--dark dark
                td: code.language-css .btn-square--dark
            tr
                td: button.btn.btn--md.btn-square--primary primary
                td: code.language-css .btn-square--primary
            tr
                td: button.btn.btn--md.btn-square--success success
                td: code.language-css .btn-square--success
            tr
                td: button.btn.btn--md.btn-square--info info
                td: code.language-css .btn-square--info
            tr
                td: button.btn.btn--md.btn-square--warning warning
                td: code.language-css .btn-square--warning
            tr
                td: button.btn.btn--md.btn-square--danger danger
                td: code.language-css .btn-square--danger
                
    .grid-lg__4-of-12.grid: table.table-border
        thead
            tr
                th Button Pill
                th Class
        tbody
            tr
                td: button.btn.btn--md.btn-pill default
                td: code.language-css .btn-pill
            tr
                td: button.btn.btn--md.btn-pill--dark dark
                td: code.language-css .btn-pill--dark
            tr
                td: button.btn.btn--md.btn-pill--primary primary
                td: code.language-css .btn-pill--primary
            tr
                td: button.btn.btn--md.btn-pill--success success
                td: code.language-css .btn-pill--success
            tr
                td: button.btn.btn--md.btn-pill--info info
                td: code.language-css .btn-pill--info
            tr
                td: button.btn.btn--md.btn-pill--warning warning
                td: code.language-css .btn-pill--warning
            tr
                td: button.btn.btn--md.btn-pill--danger danger
                td: code.language-css .btn-pill--danger

    .grid-lg__4-of-12.grid: table.table-border
        thead
            tr
                th Button List
                th Class
        tbody
            tr
                td: button.btn.btn--md.btn-list default
                td: code.language-css .btn-list
            tr
                td: button.btn.btn--md.btn-list--dark dark
                td: code.language-css .btn-list--dark
            tr
                td: button.btn.btn--md.btn-list--primary primary
                td: code.language-css .btn-list--primary
            tr
                td: button.btn.btn--md.btn-list--success success
                td: code.language-css .btn-list--success
            tr
                td: button.btn.btn--md.btn-list--info info
                td: code.language-css .btn-list--info
            tr
                td: button.btn.btn--md.btn-list--warning warning
                td: code.language-css .btn-list--warning
            tr
                td: button.btn.btn--md.btn-list--danger danger
                td: code.language-css .btn-list--danger

//- Button Size
br
br
.row: .grid-lg--12.grid
    p.h5 Button Size
    button.btn.btn-square.btn--lg .btn--lg
    button.btn.btn-square--primary.btn--md .btn--md
    button.btn.btn-pill--dark.btn--md .btn--md
    button.btn.btn-pill--info.btn--sm .btn--sm
    button.btn.btn-list--danger.btn--xs .btn--xs
