// Button Code
button.btn.btn--lg.btn-square Large Square Default

button.btn.btn--md.btn-square--dark Medium Square Dark

button.btn.btn--sm.btn-square--primary Small Square Primary

button.btn.btn--md.btn-pill--success Medium Pill Success

button.btn.btn--sm.btn-pill--info Small Pill Info

button.btn.btn--xs.btn-pill--warning XSmall Pill Warning

button.btn.btn--sm.btn-list Small List Default

button.btn.btn--sm.btn-list--primary Small List Primary

button.btn.btn--md.btn-list--info Medium List Info
