form
    .group
        label(for="exampleUsername1") Username
        input#exampleUsername1.input(type="text" placeholder="Username")
    .group
        label(for="exampleEmail1") Email
        input#exampleEmail1.input(type="email" placeholder="Email")
    .group
        label(for="examplePassword1") Password
        input#examplePassword1.input(type="password" placeholder="Password")
    .group
        button.btn.btn--md.btn-square(type="submit") Submit