form.form-inline
    .group
        label.span__2-of-12(for="exampleUsername3") Username
        input.span__10-of-12#exampleUsername3.input(type="text" placeholder="Username")
    .group
        label.span__2-of-12(for="exampleFullName3") Full Name
        input.span__10-of-12#exampleFullName3.input(type="text" placeholder="Full Name")
    .group
        label.span__2-of-12(for="exampleEmail3") Email
        input.span__10-of-12#exampleEmail3.input(type="email" placeholder="Email")
    .group
        label.span__2-of-12(for="examplePassword3") Password
        input.span__10-of-12#examplePassword3.input(type="password" placeholder="Password")
    .group
        button.shift-span__2-of-12.btn.btn--md.btn-square(type="submit") Submit
