.row
    .grid-lg__6-of-12 6-of-12
    .grid-lg__6-of-12 6-of-12
.row
    .grid-lg__4-of-12 4-of-12
    .grid-lg__4-of-12 4-of-12
    .grid-lg__4-of-12 4-of-12
.row
    .grid-lg__3-of-12 3-of-12
    .grid-lg__3-of-12 3-of-12
    .grid-lg__3-of-12 3-of-12
    .grid-lg__3-of-12 3-of-12
.row
    .grid-lg__2-of-12 2-of-12
    .grid-lg__2-of-12 2-of-12
    .grid-lg__2-of-12 2-of-12
    .grid-lg__2-of-12 2-of-12
    .grid-lg__2-of-12 2-of-12
    .grid-lg__2-of-12 2-of-12
