.row
    .shift-lg__2-of-12.grid-lg__10-of-12 10-of-12 (Shift 2)

= '\n'
.row
    .shift-lg__2-of-12.grid-lg__4-of-12 4-of-12 (shift 2)
    .shift-lg__2-of-12.grid-lg__4-of-12 4-of-12 (shift 2)

= '\n'
.row
    .shift-lg__3-of-12.grid-lg__3-of-12 3-of-12 (shift 3)
    .shift-lg__3-of-12.grid-lg__3-of-12 3-of-12 (shift 3)
