// [Visual Context On Row <tr>]
table.table
    tbody
        tr.active
        tr.primary
        tr.success
        tr.info
        tr.warning
        tr.danger

= '\n '
// [Visual Context On Cell <td> or <th>]
table.table
    thead
        tr
            th.active
            th.primary
            th.success
            th.info
            th.warning
            th.danger

    tbody
        tr
            td.active
            td.primary
            td.success
            td.info
            td.warning
            td.danger
