table.table-hovered
    thead
        tr
            th.center #
            th Nick Name
            th Username
            th Email
            th @twitter
    tbody
        tr
            td.center 1
            td Guntur
            td excel
            td gun.tur@javastudio.id
            td @ghun_tur
        tr
            td.center 2
            td Renta
            td renta
            td raturenta@javastudio.id
            td @ratu_renta
        tr
            td.center 3
            td Zend
            td zend_c90
            td zend_c@javastudio.id
            td @zend_c90