nav(data-framework="topnav")
    ul
        li: a(href!="<%= baseUrl %>") Home
        li: a(href!="<%= baseUrl %>/getting-started") Getting Started
        li: a(href!="<%= baseUrl %>/core/") CSS Core
        li: a(href!="<%= baseUrl %>/components/") Components
        li: a(href!="<%= baseUrl %>/docs/") Docs
