extends ./../layouts/_default.jade
block meta
    title CSS Core | #{title}

block sidebar
    include partials/_table-of-content.jade

block content
    section.row#container
        include partials/_container.jade

    section.row#gridSystem
        include partials/_grid-system.jade

    section.row#code
        include partials/_code.jade

    section.row#table
        include partials/_table.jade

    section.row#button
        include partials/_button.jade

    section.row#form
        include partials/_form.jade

    section.row#typography
        include partials/_typography.jade

    section.row#blockquote
        include partials/_blockquote.jade
