.row: .grid-lg__12-of-12
    header.head-link.h4 Form

    .qn-example
        .qn-preview(data-example='form')
            .eg-title Example
            p.h6 Basic Form
            include ./../../example/form-basic.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/form-basic.html')

    .qn-example
        .qn-preview(data-example='form')
            .eg-title Example
            p.h6 One Line Form
            include ./../../example/form-oneline.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/form-oneline.html')

    .qn-example
        .qn-preview(data-example='form')
            .eg-title Example
            p.h6 Inline Form
            include ./../../example/form-inline.jade
        .qn-code
            .eg-title Code
            pre.line-numbers(data-src='../example/form-inline.html')

