// ----
// Visual
// ----
.qn-example {
    $border-color: #7acaf3 !default;
    $bg-eg-preview: rgba(244, 252, 253, 0.50) !default;

    border-radius: 5px 5px 0 0;
    margin-bottom: em(20);

    @include -border(1px, solid, $border-color);
    .eg-title {
        color: $black;
        margin-bottom: em(16);
        font-weight: bolder;
    }

    .qn-preview {
        padding: em(16);
        background-color: $bg-eg-preview;
        border-radius: 3px 3px 0 0;
    }
    .qn-code {
        border-top: 1px solid;
        background-color: #f5f2f0;
        border-top-color: $border-color;
        .eg-title {
            margin: em(16) 0 0 em(16);
            position: absolute;
            z-index: 11;
        }
        pre[class*="language-"] {
           border-left: none;
           margin-top: 0;
           margin-bottom: 0;
           padding-top: em(40);
        }
    }
}
