// [meta] 
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="x-ua-compatible" content="ie=edge")

// [title] 
block meta
    title Home | #{title}

// [favicon] 


// [stylesheet] 
link(rel="stylesheet" type="text/css" href="#{baseUrl}/assets/css/app.css" charset="utf-8")
//- link(rel="stylesheet" type="text/css" href="{baseUrl}/assets/css/docs.css" charset="utf-8")
